body {
    background-color: #8b8b8b;
}

#wrapper {
    font-size: 0;
    position: relative;
    top: 50%;
    left: 50%;
    width: 800px;
    min-height: 800px;
/*            margin-top: -400px;*/
    margin-left: -400px;
    padding: 20px 0;
/*            border: 1px solid #373C48;*/
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
}

#page-number {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    line-height: 20px;
    font-size: 20px;
/*            display: none;*/
    visibility: hidden;
}

p#title {
    line-height: 80px;
    font-size: 40px;
}

#loader {
/*            display: none;*/
    visibility: hidden;
    position: absolute;
    top: 300px;
    left: 50%;
    height: 150px;
    width: 150px;
/*            margin-top: -75px;*/
    margin-left: -75px;
/*            border: 1px solid #000;*/
    border-radius: 75px;
    box-shadow: 0 0 10px 5px #656565;
    z-index: 1;
}

form {
    font-size: 20px;
}

form select {
    font-size: 30px;
}

.button-choose_loading {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
}

#info-box {
    min-height: 300px;
    width: 500px;
/*            position: relative;*/
/*            left: 50px;*/
    margin: 20px auto;
    font-size: 28px;
    line-height: 40px;
    border: 1px solid #373C48;
    padding: 20px;
    text-align: left;
/*            display: none;*/
    visibility: hidden;
}

#info-box p {
    margin: 0;
}

#info-box textarea {
    height: 96px;
    width: 260px;
}

#search-box {
    display: table;
    visibility: hidden;
    font-size: 26px;
    line-height: 30px;
    height: 50px;
    margin: 0 auto;
/*            border: 1px solid #000;*/
    vertical-align: middle;
}

#search-box p {
    line-height: 50px;
}


#search-box input {
    font-size: 23px;
    border: 1px solid #373C48;
    width: 300px;
    height: 50px;
    padding: 5px 10px;
    margin: 0;
    margin-left: 20px;
}

#request-obtained {
    font-size: 20px;
    width: 40px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #373C48;
    padding: 0 30px;
    cursor: pointer;
    background-color: #CEDBFF;
    border-left-width: 0;
}

#request-obtained:hover {
    background-color: #a9c0ff;
}

#search-box p, #search-box input, #request-obtained {display: table-cell;}

#table {
    display: none;
/*            visibility: hidden;*/
/*            height: 400px;*/
/*            width: 700px;*/
    margin: 20px auto;
    border: 1px solid #373C48;
    box-sizing: border-box;
}

tr {
    font-size: 16px;
/*            width: auto;*/
    height: 40px;
    cursor: pointer;
}

td {
/*            width: 60px;*/
/*            height: 40px;*/
}

td.small-col {
    width: 60px;
}

td.normal-col {
    width: 120px;
}

td.big-col {
    width: 180px;
}

td.large-col {
    width: 220px;
}

tr.top-row {
    height: 60px;
    background-color: #CEDBFF;
/*            cursor: pointer;*/
}
tr.top-row td:hover {
    background-color: #8BAAFF;
}

tr.top-row:hover td {
/*            background-color: #CEDBFF;*/
}

tr:not(.top-row):hover td {
    background-color: #a2a2a2;
}

tr.top-row td {
    border: 1px solid #8BAAFF;
    text-align: center;
/*            padding-left: 0;*/
}

tr td {
    border: 1px solid #bababa;
    text-align: left;
/*            padding-left: 15px;*/
}

.display-none {display: none;}

.nav-buttons {
    visibility: hidden;
    display: inline-block;
    margin: 20px;
    margin-bottom: 0;
/*            padding: 10px;*/
    border: 1px solid #373C48;
    font-size: 50px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #CEDBFF;
}
/*        button {background-color: #dbdbdb;}*/
:focus {outline: none;}
div.nav-buttons:hover {background-color: #8BAAFF;}

.smooth-hover, tr.smooth-hover td {
    transition: background-color .3s;
}


/* loader styles */

#floatingBarsG{
	position:relative;
	width:85px;
	height:106px;
	margin:auto;
    top: 20px;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:14px;
	height:33px;
	border-radius:11px 11px 0 0;
		-o-border-radius:11px 11px 0 0;
		-ms-border-radius:11px 11px 0 0;
		-webkit-border-radius:11px 11px 0 0;
		-moz-border-radius:11px 11px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:39px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:11px;
	top:14px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:36px;
	top:4px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:11px;
	top:14px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:39px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:11px;
	bottom:10px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:36px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:11px;
	bottom:10px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}